option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: laraveldb.cdpdtrqph47v.ap-southeast-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: laraveldb
   - option_name: DB_USER
     value: db_admin
   - option_name: DB_PASS
     value: 3dHelloWorld